/* Font */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;

  font-style: normal;
}




  /* nav style */
nav {
display: flex;
align-items: center;
justify-content: space-between;
margin: 0px 150px;
  }
.nav-title{
  font-weight: bold;
  font-size: 28px;
}
nav ul li{
  list-style: none;
}
nav ul{
  display: flex;
}
nav li a{
  text-decoration: none;
  font-weight: 20px;

}

.b-t-n-primary{
background-color: #ffffff;
color: #0D1321;
font-weight: 600;
font-size: 20px;
border-radius: 8px;
padding: 17px 24px;
}
.button{
  color: #FFFFFF;
  background-color: #0D1321;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 20px;
  padding-top: 20px;
}
.header{
  background-image: url('../B10A1-Challenge-Begins/assets/Hero-bg.png');
;
}
.secondary-bg{background-color: #ffffff;

}
.img{
  width: 300px;
  height: px;
  padding-left: 700px;
  
}
.banner-content {

font-weight: bolder;
font-size: 20px;
margin: 0 auto;
padding: 110px 120px;
text-align: center;

}
.section-title{
  font-weight: bolder;
  font-size: 32px;
  color: #0D1321;
}
.section-des{
font-size: 16px;
color: #0D1321;
}
.about{
  border-radius: 16px;
  padding: 130px 150px;
}
main{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.banner-description{
  color: #0D1321;
  font-size: 16pz;
  font-weight: 300;
}